<div class="structure">
    <div class="strippe">
        <div class="row header">
            <div class="row">

                <div class="text-center avatar columns small-3 small-centered">
                    <img ng-src="{{org.image}}" alt="">
                </div>
                <!--<div class="columns large-3 small-12">
                <a ui-sref="structures.show({ id: org.id })"><h3>{{org.name}}</h3></a>
                <p>{{org.email}}</p>
                <p>{{org.phone}}</p>
            </div>

            <div class="columns large-3 small-12">
                Actors<br>
                <span href="#" ng-if="org.actors.length>0" ng-repeat="actor in org.actors">{{actor.fullName}}</span>
            </div>
            
            <div class="columns large-3 small-12">
                Skills<br>
                <a href="#" ng-if="org.skills.length>0" ng-repeat="skill in org.skills" class="tag">{{skill.name}}</a>
            </div>-->
            </div>
            <div class="row">
                <div class="text-center columns small-3 small-centered">
                    <a ui-sref="structures.show({ id: org.id })"><h3 ng-bind="org.name"></h3></a>
                    <p ng-bind="address"></p>
                    <p ng-bind="org.email"></p>
                    <p ng-bind="org.phone"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row main">
        <div class="columns large-8 content">
            <div class="row description" ng-bind="org.description">
            </div>
            <br>

            <div class="heading">
                Carousel
            </div>
            <div carousel class="row text-center carousel">
                <div class="image" style="display:inline-block;" ng-repeat="img in org.images">
                    <img ng-src="{{domain}}{{img.url}}">
                </div>
            </div>

            <div class="actors" ng-if="org.actors.length>0">
                <div class="heading">
                    Actors
                </div>
                <ul class="info small-block-grid-1" ng-repeat="actor in org.actors">
                    <li>
                        <img ng-src="{{actor.image}}" alt="">
                        <br>
                        <span ng-bind="actor.fullName"></span>
                        <br>
                        <span ng-bind="actor.email"></span>
                        <br>
                        <span ng-bind="actor.phone"></span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="columns large-4 sidebar">
            <!--<div class="heading"><span>Nearby Labs</span>
            </div>-->

            <div ng-if="org.url.length>0">
                <div class="heading"><span>External Links</span>
                </div>
                <ul class="links">
                    <li>
                        <a href="{{org.url}}"><i class="fa fa-link"></i>
                        <span class="url" itemprop="sameAs" ng-bind="org.url"></span>
                    </a>
                    </li>
                </ul>
            </div>

            <div class="heading">
                <strong>Skills</strong>
            </div>
            <ul class="skills">
                <li ng-if="org.skills.length>0" ng-repeat="skill in org.skills" class="tag" ng-bind="skill.name"></li>
            </ul>

        </div>
    </div>
</div>