<div class="row structure">
    <div class="radius panel">
        <div class="row valign-middle">

            <div class="avatar columns large-3 small-12">
                <img ng-src="{{org.image}}" alt="">
            </div>
            <div class="columns large-3 small-12">
                <a ui-sref="structures.show({ id: org.id })"><h3>{{org.properties.name}}</h3></a>
                <p>{{org.properties.email}}</p>
                <p>{{org.properties.phone}}</p>
            </div>

            <div class="columns large-3 small-12">
                Actors<br>
                <span href="#" ng-if="org.actors.length>0" ng-repeat="actor in org.actors">{{actor.fullName }}</span>
            </div>
            
            <div class="columns large-3 small-12">
                Skills<br>
                <a href="#" ng-if="org.skills.length>0" ng-repeat="skill in org.skills" class="tag">{{skill.name}}</a>
            </div>
        </div>
    </div>
</div>