<div class="structure">
    <div class="strippe">
        <div class="row header">
            <div class="row">

                <div class="text-center avatar columns small-3 small-centered">
                    <img ng-src="{{org.image}}" alt="">
                </div>
                <!--<div class="columns large-3 small-12">
                <a ui-sref="structures.show({ id: org.id })"><h3>{{org.name}}</h3></a>
                <p>{{org.email}}</p>
                <p>{{org.phone}}</p>
            </div>
            <div class="columns large-3 small-12">
                Actors<br>
                <span href="#" ng-if="org.actors.length>0" ng-repeat="actor in org.actors">{{actor.fullName}}</span>
            </div>
            
            <div class="columns large-3 small-12">
                Skills<br>
                <a href="#" ng-if="org.skills.length>0" ng-repeat="skill in org.skills" class="tag">{{skill.name}}</a>
            </div>-->
            </div>
            <div class="row">
                <div class="text-center columns small-3 small-centered">
                    <a ui-sref="structures.show({ id: org.id })">
                        <h3>{{org.name}}</h3>
                        <h3 ng-if="org.properties">{{org.properties.name}}</h3>
                    </a>
                    <p>{{address}}</p>
                    <p ng-if="org.properties.address">{{org.properties.address}}</p>
                    <p ng-if="org.properties.postcode">{{org.properties.postcode}}</p>
                    <p>{{org.email}}</p>
                    <p ng-if="org.properties.email">{{org.properties.email}}</p>
                    <p>{{org.phone}}</p>
                    <p ng-if="org.properties.phone">{{org.properties.phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row main">
        <div class="columns large-8 content">
            <div class="row description">
                {{org.description}}
            </div>
            <div class="row description" ng-if="org.properties.description">
                {{org.properties.description}}
            </div>
            <br>

            <div class="heading">
                Carousel
            </div>
            <div carousel class="row text-center carousel">
                <div class="image" style="display:inline-block;" ng-repeat="img in org.images">
                    <img ng-src="{{domain}}{{img.url}}">
                </div>
            </div>

            <div class="actors" ng-if="org.actors.length>0">
                <div class="heading">
                    Actors
                </div>
                <ul class="info small-block-grid-1" ng-repeat="actor in org.actors">
                    <li>
                        <img ng-src="{{actor.image}}" alt="">
                        <br>
                        <span>{{actor.fullName}}</span>
                        <br>
                        <span>{{actor.email}}</span>
                        <br>
                        <span>{{actor.phone}}</span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="columns large-4 sidebar">
            <!--<div class="heading"><span>Nearby Labs</span>
            </div>-->

            <div>
                <div class="heading"><span>External Links</span>
                </div>
                <ul class="links">
                    <li ng-if="org.url">
                        <a href="{{org.url}}" target="_blank"><i class="fa fa-link"></i>
                        <span class="url" itemprop="sameAs">{{org.url}}</span>
                        </a>
                    <li ng-if="org.properties.url">
                        <a href="{{org.properties.url}}" target="_blank"><i class="fa fa-link"></i>
                        <span class="url" itemprop="sameAs" >{{org.properties.url}}</span>
                        </a>
                    </li>
                    <li ng-if="org.properties.facebook">
                        <a href="{{org.properties.facebook}}" target="_blank"><i class="fa fa-link"></i>
                        <span class="url" itemprop="sameAs" >{{org.properties.facebook}}</span>
                        </a>
                    </li>
                    <li ng-if="org.properties.twitter" >
                        <a href="https://twitter.com/{{org.properties.twitter}}" target="_blank"><i class="fa fa-link"></i>
                        <span class="url" >@{{org.properties.twitter}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="heading">
                <strong>Skills</strong>
            </div>
            <ul class="skills">
                <li ng-if="org.skills.length>0" ng-repeat="skill in org.skills" class="tag">{{skill.name}}</li>
            </ul>

        </div>
    </div>
</div>