<div class="large-3 columns right text-center sidebar" ng-show="mapView.active" style="overflow:scroll;max-height:100%;">
    <h4>Welcome to Transition&nbsp;Ways&nbsp;!</h4>
    <button class="button small radius" ng-click="showMapView()">Map</button>
    <button class="button small radius" ng-click="showListView()">List</button>

    <div ng-repeat="org in organizations" class="radius panel">
        <div class="row valign-middle">

            <div class="avatar columns large-7 small-12">
                <a ui-sref="structures.show({ id: org.id })"><img ng-src="{{org.avatar}}" alt=""></a>
            </div>
            <div class="columns large-5 small-12">
                <a ui-sref="structures.show({ id: org.id })"><h3>{{org.properties.name}}</h3></a>
                <a href="#" ng-repeat="skill in org.properties.skills" class="tag">{{skill.name}}</a>
                
            </div>
        </div>
    </div>
</div>




<div class="medium-12 large-9 columns no-padding" ng-show="mapView.active">
    <div class="over-map-btns hide-for-large-up">
        <button class="button tiny radius" ng-click="showMapView()">Map</button>
        <button class="button tiny radius" ng-click="showListView()">List</button>
    </div>
    <map id="map" defaults="defaults"></map>
</div>



<div ng-show="listView.active">

    <div class="row">
        <div class="small-4 columns">
            <h1>Structures</h1>
        </div>
        <div class="small-3 columns text-right">
            <br>
            <button class="button small radius" ng-click="showMapView()">Map</button>
            <button class="button small radius" ng-click="showListView()">List</button>
        </div>
    </div>

    <div class="row">
        <!--
        <div ng-repeat="org in organisations" class="radius panel">
            <div class="row">
                <div class="columns large-4 small-12">
                    <img ng-src="{{org.avatar}}" alt="">
                </div>
                <div class="columns large-8 small-12">
                    <h3>{{org.name}}</h3> {{org.email}}
                    <br>
                    <a ui-sref="structures.show({ id: org.id })" class="button tiny radius">See structure</a>
                </div>
            </div>
        </div>
-->
        <div ng-repeat="org in organizations" class="radius panel">
            <div class="row valign-middle">

                <div class="avatar columns large-4 small-12">
                    <img ng-src="{{org.avatar}}" alt="">
                </div>
                <div class="columns large-4 small-12">
                    <a ui-sref="structures.show({ id: org.id })"><h3>{{org.properties.name}}</h3></a>
                    <p>{{org.properties.email}}</p>
                    <p>{{org.properties.phone}}</p>
                </div>
                
                <div class="columns large-4 small-12">
                    Skills
                    <br>
                    <a href="#" ng-if="org.properties.skills.length>0" ng-repeat="skill in org.properties.skills" class="tag">{{skill.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>
