<div class="medium-3 columns right text-center">
    <h3>Welcome to Transition Ways !</h3>
</div>

<div class="medium-9 columns full-height no-padding">
    <div class="tabs-content full-height">
        <section role="tabpanel" aria-hidden="false" class="content active full-height no-padding" id="panel1-1">
            <map id="map" class="full-height"></map>
        </section>
        <section role="tabpanel" aria-hidden="true" class="content" id="panel1-2">
            <h2>List view</h2>
        </section>

    </div>
</div>
