<nav class="top-bar" role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Transition Ways</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
        </li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li><a ui-sref="index">News</a>
            </li>
            <li><a hui-sref="structures">Structures</a>
            </li>
            <li><a ui-sref="skills">Skills</a>
            </li>
            <li><a ui-sref="assets">Assets</a>
            </li>
            <li><a ui-sref="actors">Actors</a>
            </li>

            <li class="has-form">
                <div class="row collapse">
                    <div class="large-8 small-9 columns">
                        <input type="text" placeholder="Find Stuff">
                    </div>
                    <div class="large-4 small-3 columns">
                        <a href="#" class="button expand">Search</a>
                    </div>
                </div>
            </li>

        </ul>


        <ul class="tabs right" role="tablist">
            <li class="tab-title active" role="presentational"><a href="/#panel1-1" role="tab" tabindex="0" aria-selected="true" controls="panel1-1">Map</a>
            </li>
            <li class="tab-title" role="presentational"><a href="/#panel1-2" role="tab" tabindex="0" aria-selected="false" controls="panel1-2">List</a>
                <a href="#"></a>
            </li>
        </ul>
    </section>
</nav>
<user ng-switch="isLogged">
    <user ng-switch-when="true">
        <a ng-click="openRegister()">logout</a>
    </user>
    <user ng-switch-when="false">
        <a ng-click="openRegister()">sign up</a>
        <a ng-click="openLogin()">sign in</a>
    </user>
</user>