<nav class="top-bar" role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Transition Ways</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
        </li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li><a href="/">News</a>
            </li>
            <li><a href="/structures">Structures</a>
            </li>
            <li><a href="/skills">Skills</a>
            </li>
            <li><a href="/assets">Assets</a>
            </li>
            <li><a href="/actors">Actors</a>
            </li>

            <li class="has-form">
                <div class="row collapse">
                    <div class="large-8 small-9 columns">
                        <input type="text" placeholder="Find Stuff">
                    </div>
                    <div class="large-4 small-3 columns">
                        <a href="#" class="button expand">Search</a>
                    </div>
                </div>
            </li>

        </ul>

        <ul class="right">
            <li><a ng-click="openRegister()">sign up</a>
            </li>
            <li><a ng-click="openLogin()">sign in</a>
            </li>
        </ul>
    </section>
</nav>