<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container" ng-app="app">
    <main>
        <div class="jumbotron">
            <div ui-view></div>
        </div>
    </main>
        <script type="text/javascript" src="lib/angular/angular.js"></script>
        <script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>