#map{display:block;height:100%}
.no-padding{padding:0!important}
.pac-container{z-index:1005}
.organization{margin-top:50px;margin-bottom:50px}
.upload{width:55%;margin:0 auto;overflow:hidden}
.upload .preview-avatar{float:left;width:48%;height:150px;margin-right:3%;background-size:cover}
.upload form{width:48%;float:left;border:none}
.profile{width:50%;margin:40px auto 0}
.profile button{display:block;margin:5px auto 0}
.profile .host{height:35px;border-radius:0}
.profile .tag-list .tag-item{margin-top:3px}
body{margin:0}