.dropzone,.dropzone:active,.tag,.tag:hover{transition:all 300ms;-webkit-transition:all 300ms}
.dropzone,.tag{border-radius:3px}
.autocomplete,.autocomplete li,.autocomplete li.active,.panel .avatar img,.view-navbar{width:100%}
.tag,tags-input .tags .tag-item{text-transform:capitalize}
#map{display:block;height:100%}
.main-content{height:100%!important;padding-top:45px}
.view-navbar{position:fixed;z-index:1000}
.view-navbar .autocomplete ul{top:38px}
.popup img{max-height:100px}
.popup .tag{margin:8px 3px 3px}
.no-padding{padding:0!important}
.pac-container{z-index:1005}
.over-map-btns{position:absolute;top:5px;display:block;right:5px;z-index:2}
.profile,.structure{padding-top:20px}
.dropzone{border:2px dashed #313131}
.dropzone:active{border:2px solid #292929}
.panel{background:#f8f8f8;border:1px solid #f0f0f0;margin-bottom:10px;padding:10px 5px}
.panel h3{font-weight:300}
.sidebar .avatar{padding:0}
.tag{background:#6ecc39;color:#fff;margin:0 2px 2px;padding:1px 4px;font-size:12px;display:inline-block}
.tag:hover{background:#56a02c;color:#fff}
.valign-middle{display:table}
.valign-middle>.columns{display:table-cell;vertical-align:middle}
.valign-middle>.columns,.valign-middle>[class*=column]+[class*=column]:last-child{float:none}
.autocomplete input{width:100%;padding:.4em;border-radius:3px;font-size:13px;border:none}
.autocomplete ul{top:-7px}
.autocomplete li{text-align:left;list-style:none;padding:.4em;background-color:#fff;color:#fff;font-size:.8em;font-weight:400}
.autocomplete .highlight{background:#008CBA}
.autocomplete li.active .highlight{background:#666;color:#fff}
tags-input .autocomplete .suggestion-item{color:#262626;background-color:#fff;font-size:16px;border-radius:0 0 3px 3px;border:none;padding:8px 5px}
tags-input .autocomplete .suggestion-item.selected{background-color:#fafafa}
tags-input .tags.focused{-moz-appearance:none;-webkit-appearance:none;border:1px solid #ccc;border-radius:4px;box-shadow:none}
tags-input .autocomplete .suggestion-list{border:1px solid #9b9b9b;border-top:none;border-radius:0 0 3px 3px}
body{margin:0}