body {
}

#map {
    display: block;
    height: 100%;
}

.main-content {
    height: 100% !important;
    padding-top: 45px;
}

.view-navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    .autocomplete ul {
        top: 38px;
    }
}

.popup {
    img {
        max-height: 100px;
    }
    .tag {
        margin: 8px 3px 3px;
    }
}

.no-padding {
    padding: 0 !important;
}

.pac-container {
    z-index: 1005;
}

.over-map-btns {
    position: absolute;
    top: 5px;
    display: block;
    right: 5px;
    z-index: 2;
}

.profile,
.structure {
    padding-top: 20px;
}

.dropzone {
    border: 2px dashed rgb(49, 49, 49);
    border-radius: 3px;
    transition: all 300ms;
}

.dropzone:active {
    border: 2px solid rgb(41, 41, 41);
    transition: all 300ms;
}

.panel {
    background: #f8f8f8;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 10px 5px;
    h3 {
        font-weight: 300;
    }
    .avatar {
        img {
            width: 100%;
        }
    }
}

.sidebar {
    .avatar {
        padding: 0;
    }
}

.tag {
    background: #6ecc39;
    color: white;
    margin: 0 2px 2px;
    padding: 1px 4px;
    border-radius: 3px;
    font-size: 12px;
    display: inline-block;
    transition: all 300ms;
    text-transform: capitalize;
}

.tag:hover {
    background: #56a02c;
    transition: all 300ms;
    color: white;
}

.valign-middle {
    display: table;
    > .columns {
        display: table-cell;
        vertical-align: middle;
    }
    > .columns,
    > [class*="column"] + [class*="column"]:last-child {
        float: none;
    }
}
/* AUTOCOMPLETE */

.autocomplete {
    width: 100%;
}

.autocomplete input {
    width: 100%;
    padding: 0.4em;
    border-radius: 3px;
    font-size: 13px;
    border: none;
}

.autocomplete ul {
    top: -7px;
}

.autocomplete li {
    text-align: left;
    list-style: none;
    width: 100%;
    padding: 0.4em;
    background-color: #fff;
    color: white;
    font-size: 0.8em;
    font-weight: normal;
}

.autocomplete li.active {
    width: 100%;
}

.autocomplete .highlight {
    background: #008CBA;
}

.autocomplete li.active .highlight {
    background: #666;
    color: #fff;
}

tags-input .tags .tag-item {
    text-transform: capitalize;
}

tags-input .autocomplete .suggestion-item {
    color: #262626;
    background-color: white;
    font-size: 16px;
    border-radius: 0 0 3px 3px;
    border: none;
    padding: 8px 5px;
}

tags-input .autocomplete .suggestion-item.selected {
    background-color: #fafafa;
}

tags-input .tags.focused {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

tags-input .autocomplete .suggestion-list {
    border: 1px solid rgb(155, 155, 155);
    border-top: none;
    border-radius: 0 0 3px 3px;
}