#map {
    display: block;
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

.pac-container {
	z-index: 1005;
}

.organization {
    margin-top: 50px;
    margin-bottom: 50px;
}
.upload {
    width: 55%;
    margin: 0 auto;
    overflow: hidden;
    .preview-avatar {
        float: left;
        width: 48%;
        height: 150px;
        margin-right: 3%;
        background-size: cover;
    }
    form {
        width: 48%;
        float: left;
        border: none;
    }
}

.profile {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    button {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }

    .host {
        height: 35px;
        border-radius: 0;
    }
    .tag-list {
        .tag-item {
            margin-top: 3px;
        }
    }
}

/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
}

.autocomplete input{
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
  color: white;
  font-size: 0.8em;
  font-weight: normal;
}

.autocomplete li.active{
  width: 100%;
}

.autocomplete .highlight {
    background: #008CBA;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
