<div class="row collapse">
    {{data}}
    <div class="large-8 small-9 columns" style="width: 100%">
        <autocomplete on-select="filter" attr-class="filter-result" ng-model="yourchoice" data="movies" on-type="updateMovies" attr-placeholder="{{placeholder}}"></autocomplete>
    </div>
</div>

<!--
<div class="row collapse">
    {{data}}
    <div class="large-8 small-9 columns" style="width: 100%">
        <autocomplete on-select="filter" attr-class="filter-result" ng-model="yourchoice" data="movies" on-type="updateMovies" attr-placeholder="{{placeholder}}"></autocomplete>
    </div>
    <div class="small-2 columns">
        <a href="#" class="button postfix">By</a>
    </div>
</div>-->
