<div class="medium-3 columns right text-center">
    <h4>Welcome to Transition&nbsp;Ways&nbsp;!</h4>
    <button class="button small radius" ng-click="showMapView()">Map</button>
    <button class="button small radius" ng-click="showListView()">List</button>
</div>


<div class="medium-9 columns no-padding" ng-show="mapView.active">
    <leaflet id="map" defaults="defaults"></leaflet>
</div>

<div class="row" ng-show="listView.active">
    <div class="medium-9 columns no-padding">
        <h1>Structures</h1>
        <div ng-repeat="org in organisations" class="radius panel">
            <div class="row">
                <div class="columns large-4 small-12">
                    <img src="http://placehold.it/350x220" alt="">
                </div>
                <div class="columns large-8 small-12">
                    <h3>{{org.name}}</h3> {{org.email}}<br>
                    <a href="#" class="button tiny radius">See structure</a>
                </div>
            </div>
        </div>
    </div>
</div>