<h1>Sign up</h1>
{{user.error}}
<form name="registerForm">
    <select ng-model="user.type">
        <option value="Organization">Organization</option>
        <option value="Person">Personne</option>
    </select>
    <input type="text" ng-model="user.lastName" required placeholder="LasttName">
    <input type="text" ng-model="user.firstName" required placeholder="FirstName">
    <input type="email" ng-model="user.email" required placeholder="Email">
    <input type="password" ng-model="user.password" required placeholder="Password">
    <button ng-click="register(registerForm, user)" ng-disabled="registerForm.$invalid" type="submit" class="btn btn-primary">Sign up</button>
</form>
 <a class="close-reveal-modal" ng-click="cancel()">x</a>